.header {
  margin-bottom: 30px;
}

.input-respuestas {
  margin-right: 2px;
  margin-bottom: 2px;
}

.examDistribution {
  text-align: center;
}

.respuesta-correcta {
  border: 2px solid green;
}

.respuesta-incorrecta {
  border: 2px solid red;
}
